@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details,
.str-video__menu-container,
.str-video__notification,
.str-video__participant-list {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

body {
  background-image: url("https://w.wallha.com/ws/14/d98tFpNk.png");
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensures the background covers the full viewport height */
  width: 100vw;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  overflow: hidden;
}

/* Glassmorphism effect */
.glassmorphism {
  background-color: rgba(17, 25, 40, 0.55); /* Transparent dark background */
  backdrop-filter: blur(0px) saturate(180%); /* Blur and saturation */
  -webkit-backdrop-filter: blur(19px) saturate(180%); /* Safari support */
  border-radius: 12px; /* Rounded corners */
  border: 1px solid rgba(255, 255, 255, 0.125); /* Thin translucent border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  padding: 20px; /* Optional padding inside the glass container */
}


.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 12px;
}

/* ====== Clerk class overrides ====== */

.cl-userButtonPopoverActionButtonIcon,
.cl-internal-wkkub3,
.cl-userButtonPopoverActionButton {
  color: white;
}

.cl-logoBox {
  height: 40px;
}

.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

/* ======= Custom Flexbox utility classes (no @layer needed) ======= */
.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* ======= Animation ======= */
.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}
